
@{
    ViewBag.Title = "ChinhSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .main-content {
        margin: 35px 35px;
    }

        .main-content h1 {
            font-size: 50px;
            margin: auto;
            text-align: center;
        }

        .main-content img {
            margin-top: 35px;
        }

</style>
<div role="main" id="MainContent" class="main-content">
    <div class="page-width">
        <div class="grid">
            <div class="grid__item   one-whole">
                <article class="single-post">
                    <header>
                        <h1 class="entry__title" title="CHÍNH SÁCH THÀNH VIÊN">CHÍNH SÁCH THÀNH VIÊN</h1><div class="entry__meta">
                            <div class="grid">
                                <div class="grid__item two-thirds">
                               
                                </div><div class="grid__item one-third"></div>
                            </div>
                        </div>
                    </header><div class="rte" itemprop="articleBody">
                        <p style="text-align:center;"><img alt="" src="https://mcdn.nhanh.vn/store/7136/artCT/65278/ch%C3%ADnh%20s%C3%A1ch%20vip_1200@300x-100.jpg" style="width:1200px;height:1129px;"></p><p style="text-align:center;">&nbsp;</p><p style="text-align:center;">&nbsp;</p><p style="text-align:center;"><img alt="" src="https://mcdn.nhanh.vn/store/7136/artCT/65278/b%E1%BA%A3o%20h%C3%A0nh%20.jpg" style="width:1200px;"></p><p style="text-align:center;">&nbsp;</p><p style="text-align:center;"><img alt="" src="https://mcdn.nhanh.vn/store/7136/artCT/65278/web_chinhsachdoihang_chinhsachbaohanh_member.jpg" style="width:1200px;"></p><p style="text-align:center;">&nbsp;</p><p style="text-align:center;"><img alt="" src="https://mcdn.nhanh.vn/store/7136/artCT/65278/65278_1638341121_chi%CC%81nh-sa%CC%81ch-a%CC%81o-khoa%CC%81c_web-1.jpg"></p><p style="text-align:center;">&nbsp;</p><p style="text-align:center;"><img alt="" src="https://mcdn.nhanh.vn/store/7136/artCT/65278/65278_1638336755_chi%CC%81nh-sa%CC%81ch-a%CC%81o-khoa%CC%81c_web-2.jpg" style="width:1200px;"></p><p style="text-align:center;">&nbsp;</p><p style="text-align:center;"><img alt="" src="https://mcdn.nhanh.vn/store/7136/artCT/65278/65278_1636088343_chi%CC%81nh%20sa%CC%81ch%20a%CC%81o%20khoa%CC%81c-qua%CC%82%CC%80n%20jean.jpg"></p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

