
@{
    ViewBag.Title = "Hot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .main-content{
        margin: 35px 35px;
    }
    .main-content h1 {
        font-size: 50px;

    }
    .main-content img{
        margin-top: 35px;

    }
    .main-content ul li{
        margin-left: 50px;
    }
</style>
    <div role="main" id="MainContent" class="main-content">
        <div class="page-width">
            <div class="grid">
                <div class="grid__item   one-whole">
                    <article class="single-post">
                        <header>
                            <h1 class="entry__title" title="THƯỞNG THỨC “CANH CÁ SALE UP TO 15%” CỰC NGON KHI MUA SẮM ONLINE TẠI QDN">THƯỞNG THỨC “CANH CÁ SALE UP TO 15%” CỰC NGON KHI MUA SẮM ONLINE TẠI QDN</h1><div class="entry__meta">
                                <div class="grid">
                                    <div class="grid__item two-thirds">

                                    </div><div class="grid__item one-third"></div>
                                </div>
                            </div>
                        </header><div class="rte" itemprop="articleBody">
                            <p><img alt="" src="#"></p><p>QDN sale lớn toàn bộ sản phẩm nhân dịp “Cá tháng Tư” với mức <strong>sale lên đến 15%</strong> cho FRIENDs khi mua sắm&nbsp;qua hình thức online.&nbsp;</p><h2 dir="ltr">QDN nấu món “Canh cá sale” cực ngon nhân dịp Cá tháng Tư dành tặng FRIENDs:</h2><p dir="ltr">FRIENDS có thể không thích bị “ăn cá” trong ngày Cá tháng Tư. Thế nhưng, món <span style="text-indent:10px;font-size:13px;">“Canh cá”</span><span style="text-indent:10px;font-size:13px;"> siêu chất lượng đến từ QDN sẽ làm FRIENDs khó mà chối từ.&nbsp;</span></p><h3 dir="ltr">Thực đơn cho món “Canh cá” bao gồm:</h3><ul><li dir="ltr"><p dir="ltr"><strong>“Canh cá” Sale 10% </strong>- Giảm 10% cho đơn hàng từ 499.000đ. Khi nhập mã:&nbsp;<strong>CAQDN10</strong></p></li><li dir="ltr"><p dir="ltr"><strong>“Canh cá” Sale 15%</strong> - Giảm 15% cho đơn hàng từ 899.000đ. Khi nhập mã:&nbsp;<strong>CAQDN15&nbsp;</strong></p></li></ul><h4 dir="ltr">Thời gian &amp; địa điểm FRIENDs có thể ăn “Canh cá”:</h4><ul><li dir="ltr"><p dir="ltr">Thời gian: Từ ngày 28/03/2022 đến hết 03/04/2022&nbsp;</p></li><li dir="ltr"><p dir="ltr">Địa điểm: Áp dụng cho hình thức mua sắm online&nbsp;</p></li></ul><h2 dir="ltr">Các lưu ý nhỏ khi thưởng thức món “Canh cá” tại QDN:</h2><ul><li dir="ltr"><p dir="ltr">Chỉ áp dụng cho ưu đãi online</p></li><li dir="ltr"><p dir="ltr">“KHÔNG” áp dụng theo cấp số nhân</p></li><li dir="ltr"><p dir="ltr">&nbsp;“KHÔNG” áp dụng đồng thời các chương trình khuyến mãi khác, sinh nhật VIP, Voucher, E-voucher Shopee, Happy Day, Mã sinh nhật...</p></li><li dir="ltr"><p dir="ltr">Được tích lũy điểm dựa trên doanh số thanh toán cuối cùng.&nbsp;</p></li></ul><p dir="ltr">“Canh cá” thơm ngon QDN làm mời FRIENDs ăn ngay hôm nay, chớ bỏ lỡ mất cơ hội này nhé các bạn ơi!</p><p dir="ltr"><em><strong>Click xem ngay sản phẩm new arrival:</strong></em> <a href="#"><span style="color:#0066ff;">https://QDNshop.vn/product</span></a></p><h3 dir="ltr">Thông tin liên hệ QDN để được hỗ trợ</h3><ul><li dir="ltr"><p dir="ltr"><strong>Hotline:</strong> 0938.803.633</p></li><li dir="ltr"><p dir="ltr"><strong>Email:</strong> cskh@QDNshop.vn</p></li><li dir="ltr"><p dir="ltr"><strong>Fanpage:</strong> <a href="#"><span style="color:#0066ff;">https://www.facebook.com/QDNshop.com.vn</span></a></p></li><li dir="ltr"><p dir="ltr"><strong>Website:</strong> <a href="#"><span style="color:#0066ff;">https://QDNshop.vn/</span></a></p></li><li dir="ltr"><p dir="ltr"><strong>Shopee:</strong> <a href="#"><span style="color:#0066ff;">https://shopee.vn/QDNshopvn</span></a></p></li><li dir="ltr"><p dir="ltr"><strong>Lazada:</strong> <a href="#"><span style="color:#0066ff;">https://www.lazada.vn/QDNshop-1585919448</span></a></p></li></ul><p dir="ltr">&nbsp;</p><p>
                                <br><br><br><br><br><br>
                                &nbsp;
                            </p>
                        </div><div class="entry__footer">
                            <div class="grid">
                                <div class="grid__item one-half"></div><div class="grid__item one-half">

                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Hero Section Begin -->

    <!--<footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="/Content/img/Logo.jpg" alt="" width="165" height="50"></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: Hồ Chí Minh</li>
                            <li>Điện thoại: 09131366242</li>
                            <li>Email: quyhongq@gmail.com</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Về Chúng Tôi</h5>
                        <ul>
                            <li><a href="#">Câu chuyện thương hiệu</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Đôi cánh yêu thương</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Chính Sách Bán Hàng</h5>
                        <ul>
                            <li><a href="#">Chính sách đổi hàng</a></li>
                            <li><a href="#">Chính sách bảo hành</a></li>
                            <li><a href="#">Chính sách hội viên</a></li>
                            <li>
                                <a href="#">
                                    Chính sách giao nhận

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>THEO DÕI BẢN TIN CỦA CHÚNG TÔI</h5>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Nhập Email của bạn">
                            <button type="button">Đăng kí</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </footer>-->
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <!--<script src="/Scripts/js/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/js/bootstrap.min.js"></script>
    <script src="/Scripts/js/jquery-ui.min.js"></script>
    <script src="/Scripts/js/jquery.countdown.min.js"></script>
    <script src="/Scripts/js/jquery.nice-select.min.js"></script>
    <script src="/Scripts/js/jquery.zoom.min.js"></script>
    <script src="/Scripts/js/jquery.dd.min.js"></script>
    <script src="/Scripts/js/jquery.slicknav.js"></script>
    <script src="/Scripts/js/owl.carousel.min.js"></script>
    <script src="/Scripts/js/main.js"></script>


</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>-->
